.txt1 {
  display: inline-block;
  width: 1em;
  text-indent: 0em;
  vertical-align: top;
  margin-top: 0.2em;
}
.txt1 img {
  width: 100%;
}
.txt0 {
  display: block;
  width: 18em;
  text-indent: 1em;
  vertical-align: top;
  margin-top: 0.2em;
}
.txt5 {
  display: inline-block;
  width: 6em;
  text-indent: 0em;
  vertical-align: top;
  margin-top: 0.2em;
}
.txt10 {
  display: inline-block;
  width: 10em;
  text-indent: 0em;
  vertical-align: top;
  margin-top: 0.2em;
}
.txt0 img, .txt1 img, .txt5 img, .txt10 img {
  width: 100%;
}
